@font-face {
    font-family: 'Happiness-Sans-Title';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Title.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html > body,
html > body input,
html > body select,
html > body textarea,
html > body pre,
html > body button {
  font-family:"Happiness-Sans-Title";
  line-height:1.3;
  text-underline-position:under;
}

body{
background-color : #F0FBFA;
}

.tableC{
background-color :#fff;
text-align : center;
}

.tcenter {
text-align : center;
}

.nomal{
 color:inherit;
  text-decoration:inherit;
}

.nomal:hover{
 color:#C8BEF7 ;
 font-weight : bold;
}