<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>CreateFrom</title>
</head>
<body>
<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
<link rel="stylesheet" href="text/css" th:href="@{/style.css}">
<div layout:fragment="content" class="container">
    <h5 class="my-3 border-bottom pb-2">질문등록</h5>
    <form th:action="@{/question/create}" enctype="multipart/form-data" th:object="${questionForm}" method="post">
        <div th:replace="user/form_errors :: formErrorsFragment"></div>
        <div class="mb-3">
            <textarea name="content" class="form-control" placeholder="내용"></textarea>
            <input  multiple="multiple" type="file" class="form-control" name="file">
        </div>
        <input type="hidden" th:value="${question.id}">
        <input type="submit" value="저장하기" class="btn btn-primary my-2">
    </form>
</div>

</body>
</html>