<html layout:decorate="~{/user/layout}">
<div layout:fragment="content" class="container my-3">
    <h2>
        <a class="nomal" href="#">
            <img src="https://ifh.cc/g/LKnGhc.gif" width="30" height="30" alt="list">
            질문List
        </a>
    </h2>

    <div class="kglistMargin" th:each="question : ${paging}">
        <img class="imgSize" th:src="${question.filepath}">
        <div>
            <form class="InstarDisplayInline" th:action="@{|/question/like/${question.id}|}" method="post">
                <button th:classappend="${question.replyLike}? 'text-white like': 'text-white unlike' " class="border-0"
                        th:text="_." type="submit"></button>
            </form>
            <a class="InstarDisplayInline" th:href="@{|/question/detail/${question.id}|}"><img class="anwerSize"
                                                                                               src="https://cdn-icons.flaticon.com/png/512/3667/premium/3667893.png?token=exp=1658975839~hmac=27ea7761b5a7e37aea807888b8b3fee5"></a>
        </div>
        <div th:text="${question.content}"></div>


        <div>
        <span th:if="${#lists.size(question.answerList)}!=0">
            <a th:href="@{|/question/detail/${question.id}|}"
               th:text="|${#lists.size(question.answerList)}개의 답변 모두 보기|"></a>
        </span>
            <span th:if="${#lists.size(question.answerList)}==0">
        </span>
        </div>
        <div th:each="answer, index : ${question.answerList}">
            <div th:if="${index.index} == 0">
                <div style="white-space: pre-line;" th:text="${answer.content}"></div>
            </div>
        </div>

        <div th:text="${#temporals.format(question.createDate, 'M월 d일')}"></div>

    </div>

    <!-- 페이징처리 시작 -->
    <!--  <div th:if="${!paging.isEmpty()}">
          <ul class="pagination justify-content-center">
              <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                  <a class="page-link"
                     th:href="@{|?page=${paging.number-1}|}">
                      <span>이전</span>
                  </a>
              </li>
              <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                  th:if="${page >= paging.number-5 and page <= paging.number+5}"
                  th:classappend="${page == paging.number} ? 'active'"
                  class="page-item">
                  <a th:text="${page}" class="page-link" th:href="@{|?page=${page}|}"></a>
              </li>
              <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                  <a class="page-link" th:href="@{|?page=${paging.number+1}|}">
                      <span>다음</span>
                  </a>
              </li>
          </ul>
      </div>
       페이징처리 끝 -->
    <a th:href="@{/question/create}" class="btn btn-primary">게시글 등록</a>
</div>
</html>